name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
    steps:
    - uses: actions/checkout@v4
    
    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: 1.90.0
        components: rustfmt, clippy
    
    - uses: taiki-e/install-action@protoc

    - name: Run cargo check
      run: cargo check

    - name: Run cargo fmt
      run: cargo fmt --all -- --check
    
    - name: Run cargo clippy
      run: cargo clippy --all-targets -- -D warnings

    - name: Kubernetes KinD Cluster
      id: kind
      uses: helm/kind-action@v1
      with:
        cluster_name: kind
        config: apps/xdata-app/deploy/kind/kind-config.yaml

    - name: Cmake Configure
      run: cmake -S . -B build

    - name: Build Docker Image
      run: cmake --build build --target xdata-app-image

    - name: Load Docker Image into KinD
      run: kind load docker-image xdata-app:latest --name kind
    
    - name: Deploy to KinD
      run: cmake --build build --target xdata-deploy

    - name: Wait for xdata-app Deployment
      run: |
        kubectl wait --for=condition=available --timeout=120s deployment/xdata-app -n xedio

    - name: Run cargo test
      run: cargo test --all -- --nocapture